.cree_ton_compte{
    text-align: center;
    font-family: KGFallForYouBold;
    font-size: 32px;
    margin-top:50px;
}

.span_description{

    text-align: center;
    font-family: Rubik-Regular;
    font-size: 12px;
    color: #636363;
    
}

.images{

    margin: 0 40px 0 0;
}

.deja_un_compte{

    margin: 60px 100px 0 0;
    text-align: center;
    font-family: Rubik-Regular;
    font-size: 12px;
    color: #636363;
}

.title_image{

    font-size: 12px;
    font-family: Rubik-Regular;
    margin-left: 60px;
}



@font-face{
    font-family: KGFallForYouBold;
    src: url('../../../fonts/KGFallForYouBold.ttf');
}

@font-face{
    font-family: Rubik-Regular;
    src: url('../../../fonts/Rubik-Regular.ttf');
}