@font-face{
    font-family: KGFallForYouBold;
    src: url('../../../fonts/KGFallForYouBold.ttf');
}


@font-face{
    font-family: Rubik-Bold;
    src: url('../../../fonts/Rubik-Bold.ttf');
}

@font-face{
    font-family: Rubik-Regular;
    src: url('../../../fonts/Rubik-Regular.ttf');
}


.cree_ton_compte{
    text-align: center;
    font-family: KGFallForYouBold;
    font-size: 32px;
    margin-top:50px;
}

.quel_classe {
    text-transform: uppercase;
    color: #707070;
    font-family: Rubik-Bold;
    font-size: 16px;
    text-align: center;
    margin-top: 5%;
}

.niveaux{
    border: 1px solid #CBCACD;
    padding: 10px 10px 10px 10px;
    color: #CBCACD;
    font-family: Rubik-Bold;
    display: inline-block;
    width: 100px;
}

.niveaux:hover{
    cursor: pointer;
}

.niveaux_clicked{

    border: 1px solid #CBCACD;
    padding: 10px 10px 10px 10px;
    color: black;
    font-family: Rubik-Bold;
    display: inline-block;
    width: 100px;
}
.deja_un_compte{

    margin: 60px 100px 0 0;
    text-align: center;
    font-family: Rubik-Regular;
    font-size: 12px;
    color: #636363;
}

@media only screen and (max-width: 450px) {
    .deja_un_compte{
        margin: 30px 0 !important;
    }

    .spacers{
        display: none !important;
    }

    .grid1{
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .main_content{
        min-height: unset;
    }

    .quel_classe{
        margin-top: 40px;
        margin-bottom: 20px;
    }
}


.spacers{
    display: none;
    width: 30px;
}

.grid1{
    text-align: center;
}

.grid1{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* #root{
    height: 100%;
} */

.email-login-container{
    margin-top: 15px;
}

