
.span-big-title{
    color: white !important;
    font-size: 24px;
}

.span-subtitles{

    font-size: 18px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.type-container{
    word-wrap: break-word;
    background-color: #757575;
    padding: 3px;
    border: 1px solid #757575;
    margin-bottom: 10px;
}

.lines-container{
    margin-bottom: 30px;
}

.index_style{
    font-size: 18px;
    color:#a3ffbc !important
}

.class-type{

    color: white !important;
    font-size: 16px;
}

button.ui.button{
    background-color: #757575 !important;
}

.subTitle-style{
    color: #757575 !important;
}

.icon-down-container{
    background-color: #ededed;
    margin-left: 20px;
}

.bigTitle-container{
    word-wrap: break-word;
    background-color: #757575;
    padding: 10px;
    border: 1px solid #757575;
    margin-bottom: 25px;
    margin-top: 25px;
}