.school-choice-reason-section{

    padding: 5% 0;

    .row{
        padding: 7% 0;
    }

    .reasons-container{
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .reason-container{
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            font-size: 12px;
            max-width: 70%;
            align-items: center;
            margin: 0 auto;
            color: #707070;
            font-weight: 600;

            .separator{
                width: 2px;
                background-color: red;
                height: 100%;
            }

            .reason-number{
                font-size: 50px;
                font-weight: 500;
                font-family: Rubik , 'sans-serif';
                padding-right: 15px;
                color: #333333;
                width: 100px;

            }

            .reason-text{
                padding-left: 15px;
                text-align: left;
            }

        }
    }

    .school-choice-image-container{
        flex: 1;
        display: flex;
        justify-content: center;


        img{
            width: 100%;
            max-width: 200px;
        }
    }

}