
.title_second_div{
  
    font-family: KGFallForYouBold;
    
}

.title_quatre_icons{

    font-family: Rubik-Medium;
    font-size: 15px;
}

.hr_div{
    
    width: 10%;
    margin-left: 5%;
    border: 1px solid #212529; 
}
.decouvrir{
    font-family:Rubik-Medium ;
    font-size: 12px;
}

@font-face{
    font-family: KGFallForYouBold;
    src: url('../../../fonts/KGFallForYouBold.ttf');
}

@font-face{
    font-family: Rubik-Medium;
    src: url('../../../fonts/Rubik-Medium.ttf');
}

