

.pourquoi_me_choisir{
    text-align: center;
    font-family: KGFallForYouBold;
    font-size: 32px;
    margin:50px;
}

.hr{
    border: 1px solid #212529;  
    width: 10%;
}

.number_pourquoi_choisir{

    font-family: Rubik-Medium;
    font-size: 40px;
    float: left;
    margin-right: 15px;
}

.explications{
    line-height: 90%;
    font-family: Rubik-Medium;
    color: #707070;
}

.divider{
    margin-left: 5px;
    margin-right: 5px;
    height: 10px;
    width: 1px;
    background-color: red;
}



@font-face{
    font-family: Rubik-Medium;
    src: url('../../../fonts/Rubik-Medium.ttf');
}


@font-face{
    font-family: KGFallForYouBold;
    src: url('../../../fonts/KGFallForYouBold.ttf');
}