.not_found_container{
    display: block;
    
}

.svg_container_not_found{
    width: 50%;
    margin: 0 auto;
}

.title_not_found{
    text-align: center;
    font-family: Rubik-Regular;
    font-size: 22px;
}

@font-face{
    font-family: Rubik-Medium;
    src: url('../../fonts/Rubik-Regular.ttf');
}