

.chapter-page-container{
    padding: 2% 0;

    *{
        font-family: Rubik , 'sans-serif';
        color: #707070;
        font-weight: 500;
    }

    .chapter-title-container{
        padding-top: 3%;
    }

    .chapter-title{
        font-size: 20px;
        padding: 0 40px;
        @media only screen and (max-width: 768px) {
            padding: 0;
        }
        

        @media only screen and (max-width: 490px) {
            padding: 0 3%;
        }

      
    }

    .chapter-features-container{

        padding: 40px 50px;

        @media only screen and (max-width: 768px) {
            padding: 5% 0;
            
        }

        @media only screen and (max-width: 490px) {
            padding: 10% 3%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5%;
        }


       

        
    }

    .chapter-content{
        padding: 0 50px;

        @media only screen and (max-width: 768px) {
            padding: 0;
        }

        @media only screen and (max-width: 490px) {
            padding: 3% 3%;
        }

       
    }

}




