.chapter-page-container{
    padding: 2% 0;

    *{
        font-family: Rubik , 'sans-serif';
        color: #707070;
        font-weight: 500;
    }

    .chapter-title{
        font-size: 20px;
    }

    .chapter-features-container{

        padding: 40px 50px;
        .chapter-btn{

        }
    }

    .chapter-content{
        padding: 0 50px;

       
    }

   

    

}



