.identifiants-classement-user{
    font-weight: bold;
    text-transform: uppercase;
}
.ui.table {
    width: 170%;
}

.high_fives_span{
    display: inline-block;
}

.high_fives_container{
   
    width: 90px;
    padding-left: 5px;
}

.high_fives_images{
    width: 100%;
    max-width: 100px;
}

.high_fives_span{

    width: 40%;
}

.index_style_classement{
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
}

.numbers_high_five{
    color: #8bc7cc;
    font-size: 20px;
    font-weight: 600;
}