@import '../../../../style/breakpoints';
    
    
    .quizz-reset-btn{
      padding: 4%;
      display: flex;
      justify-content: space-evenly;

      @include media('<=phone'){
       flex-direction: column;

    }



      button{
        background-color: #79B600 !important;
        color: white !important;
        padding: 13px 70px !important;
        border-radius: 50px !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        font-family: Rubik , 'sabs-serif';
        letter-spacing: 1px !important;
        transition: all 0.3s !important;
        text-transform: uppercase !important;
        border: none;

        @include media('<=phone'){
          margin-top: 20px !important;
          font-size: 14px !important;
   
       }

        &:hover{
            opacity: 0.8;
            background-color: #79B600 !important;
            color: white !important;
            transform: translateY(-2px);
            box-shadow: 0px 2px 10px #00000029;
        }
      }
    }


.quizz-form-container{
    padding: 4% 5%;
    box-shadow: 0px 2px 10px #00000029;
    color: #707070;
    border-radius: 5px;

    .quizz-title-container{
      display: flex;
      align-items: center;

      .img-container{
        width: 15%;

        img{
          width: 100%;
        }
      } 
    }


    .quizz-submit-btn{

        display: flex;
        justify-content: center;

       
        button{
            background-color: #79B600 !important;
            color: white !important;
            padding: 13px 70px;
            border-radius: 50px;
            font-size: 16px;
            font-weight: 500;
            font-family: Rubik , 'sabs-serif';
            letter-spacing: 1px;
            transition: all 0.3s;
            text-transform: uppercase;

            &:hover{
                opacity: 0.8;
                background-color: #79B600 !important;
                color: white !important;
            }
        }
    }

    .quizz-form-title{
        @media only screen and (max-width: 450px) {
            font-size: 18px;
        }

        
        svg{
            width: 100%;
        }
    }

    .quizz-form{
        padding-top: 5%;
        font-family: Rubik , 'sabs-serif';

        
    }

    .response-container{
       
        border: 2px solid #CBCACD;
        margin-bottom: 20px;
        border-radius: 4px;

        .field{
          width: 100%;
          
          .ui.checkbox{
            width: 100%;
            padding: 0 15px;
          }

          label{
            width: 100%;
            padding: 15px;
            padding-left: 30px;

            &::before , &::after{
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
    }

    label{
        margin-bottom: 0 !important;
        color: #707070 !important;
        font-weight: 500;
        font-size: 17px !important;
    }
}

.checkbox {
    --background: #fff;
    --border: #d1d6ee;
    --border-hover: #bbc1e1;
    --border-active: #79B600;
    --tick: #fff;
    position: relative;
  }
  
  .checkbox input,
  .checkbox svg {
    width: 31px;
    height: 31px;
    display: block;
  }
  
  .checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    -webkit-box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
            box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
  }
  
  .checkbox input:hover {
    --s: 2px;
    --b: var(--border-hover);
  }
  
  .checkbox input:checked {
    --b: var(--border-active);
  }
  
  .checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 31px;
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
            transform: scale(var(--scale, 1)) translateZ(0);
  }
  
  .checkbox.path input:checked {
    --s: 2px;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;

  }
  
  .checkbox.path input:checked + svg {
    --a: 16.1 86.12;
    --o: 102.22;
  }
  
  .checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    -webkit-transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
    transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
  }
  
  .checkbox.bounce {
    --stroke: var(--tick);
  }
  
  .checkbox.bounce input:checked {
    --s: 11px;
  }
  
  .checkbox.bounce input:checked + svg {
    -webkit-animation: bounce 0.4s linear forwards 0.2s;
            animation: bounce 0.4s linear forwards 0.2s;
  }
  
  .checkbox.bounce svg {
    --scale: 0;
  }
  
  @-webkit-keyframes bounce {
    50% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    75% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes bounce {
    50% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    75% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  
  


