.enonce-container{
    border-color: #d2f4ff;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    padding: 3px 0px 3px 0px;
    margin: 5px 0px 0px 5px;
    background: #f8f9f0;
    margin-bottom: 20px;
}

.pdf-displayer{

    max-width: 800px;
  width: 100%;
  display: table;
  margin: 0 auto;
  padding: 20px 50px;
}

.corrige-container{
    background-color: #FBEFF2;
    border-width: 0px 1px 1px 3px;
    border-style: solid;
    padding: 3px 0px 3px 0px;
    border-color: #d2f4ff;
}

.enonce-choix{
    padding-inline-start: 40px;
}
.exercise-container{
    display: flex;
    align-items: center;
    padding: 10px 20px;

    .exercise-number{
        padding-right: 20px;
    }

   
    .exercise-text{
        margin: 0;
        max-width: 80%;
    }
    
    .exercise-icons-container{
        margin-left: auto;

        i{
            opacity: 0.6;
            font-size: 18px;
            transition: all 0.3s;
        }

        .download-link{

            &:hover{
                i{
                    opacity: 1;
                }
            }

        }

        .open-exercise{
            border: none;
            margin-left: 10px;
            background-color: transparent;
            cursor: pointer;
            outline: none !important;

            &:hover{
                
                i{
                    opacity: 1;
                }
            }
        }
    }
}