.phone_number{
    font-family: Rubik-Medium;
    font-size: 12px;
}

.contact{
    font-family: Rubik-Medium;
    font-size: 12px;
}

@font-face{
    font-family: Rubik-Medium;
    src: url('../../fonts/Rubik-Medium.ttf');
}