.images_profil_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.class-answers-etablissements{
    font-weight: bold;
    font-size: 14px;
}

#button_besoin_prof{
    padding: 25px;
    background-color: #F4F3A0 !important;
    border-radius: 20px;
    width: 100%;
    font-size: 17px;
    margin-bottom: 20px;
}
#button_besoin_prof :hover{
    opacity: 0.7;
    background-color: transparent;
    transform: translateY(-2px);
}

#button_inviter_ami{
    padding: 25px;
    background-color: #B7E3E1 !important;
    border-radius: 20px;
    color: white;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}

#button_inviter_ami:hover{
    opacity: 0.7;
    background-color: transparent;
    transform: translateY(-2px);
}

#button_besoin_bilan{
    padding: 25px;
    background-color: #E3E794 !important;
    border-radius: 20px;
    width: 100%;
    font-size: 17px;
    
}

#button_besoin_bilan:hover{
    opacity: 0.7;
    background-color: transparent;
    transform: translateY(-2px);
}

.share_on_facebook{
    background-color: #4267B2;
    display: inline-block;
    min-width: 135px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-right: 8px;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
.st-label{
    padding: 0 6px;
    display: inline-block;
}

.share_on_whatsapp{
    background-color: #09CD18;
    display: inline-block;
    min-width: 135px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-right: 8px;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.div_social_media_container{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}