/* reusable style */


.submit-btn{
    background-color: $secondary-dark-gray-color !important;
    color: white !important;
    text-transform: uppercase !important;
    letter-spacing: 1.8px;
    font-weight: 300 !important;
    border-radius: 30px !important;
    padding: 0.9rem;
    transition: all 0.3s;


    &:hover{
        opacity: 0.7;
    }
}

/*  color */

.dark-color{
    color: #212529;
}

.ml-20px{
    margin-left: 20px;
}