
.matiere_component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.dashboard-section .cree_ton_compte{
    margin: 0 !important;
    padding-top: 3% 0;
    padding-bottom: 3%;
}

@media only screen and (max-width: 600px) {
  .matiere_component{
      grid-template-columns: 1fr;

  }
}

/*.matiere_component{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.matiere_component > *{
    flex: 0 0 50%;
    max-width: 50%;

}

.niveaux_school{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.niveaux_school > *{
    flex: 0 0 50%;
    max-width: 50%;

}

.cree_ton_compte{
 */