@import '../../../../style//breakpoints';

.quizz-progress-container{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5%;

    @include media('<=phone'){
        padding: 0;

    }

    .profile-container{
        align-self: flex-end;

    }

    .progress-wrapper{
        width: 80%;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: calc(3% - 15px);

        .answer-wrapper{
            display: flex;
            justify-content: space-between;
            padding: 0 10px;

            @include media('<=phone'){
                flex-direction: column-reverse;
        
            }

            p{
                font-size: 16px;
                font-weight: 600;
                margin: 10px;

                @include media('<=phone'){
                    margin: 2px;
                }

                i{
                    font-size: 18px;
                }
            }

            .questions-repo{
                color: #707070;
            }
        }

        .progress{
            height: 14px;
            border: 1px solid #CBCACD;
            background-color: white;
            border-radius: 100px;

            .progression{
                width: 10%;
                background-color: #79B600;
                border-radius: 100px;
                background: #1D976C;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #79B600, #79B600);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #79B600, #79B600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
            }
        }
    }

    .score-container{
        align-self: flex-end;

       

        .score{
            font-size: 18px;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50% , -60%);
            color: white;
        }

        div{

            max-width: 100px;

            svg{

            }
        }
    }
}
