.quizz-progress-container{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5%;

    .profile-container{

    }

    .progress-wrapper{
        width: 85%;

        .progress{
            height: 14px;
            border: 0.4px solid #CBCACD;
            background-color: white;
            border-radius: 100px;

            .progression{
                width: 10%;
                background-color: #79B600;
                border-radius: 100px;
                background: #1D976C;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
            }
        }
    }

    .score-container{
        position: relative;

        .score{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -60%);
            color: white;
        }
    }
}