.main-footer{
    background-color: #707070;
    padding: 3% 0;

    @include media('<=phone'){
        padding: 10% 0;
    }

    #hamburger-scan-qr{
        display: none;
        @include media('<=phone'){
            display: block !important;
        }
    }

    .footer-link-container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-family: Rubik , 'sans-serif';

        @include media('<=phone'){
            flex-direction: column;
            align-items: center;
        }

        .footer-link{
            color: white;
            text-transform: uppercase;
            transition: all 0.3s;
            font-weight: 500;
            cursor: pointer;
            margin: 0;

            @include media('<=phone'){
                padding: 10px;
            }

            @include media('<=tablet'){
                font-size: 14px !important;
            }

            &:hover{
                color: #ddd;
            }
        }
    }

    .social-icons-container{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 3% 0;

        @include media('<=phone'){
            padding: 30px;
        }

        .footer-icon-link{
            padding: 0 20px;
            transition: all 0.3s;


            &:hover{
                transform: scale(1.2);
            }
        }
    }

    .rights-text{
        text-align: center;
        width: 100%;
        color: white;
        font-family: Rubik , 'sans-serif';
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 13px !important;
        font-weight: 300;

        @include media('<=tablet'){
            font-size: 12px !important;
        }
    }

   
}

.footer-modal{
    font-family: Rubik , 'sans-serif';

    .modal-title{
        font-size: 28px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        font-weight: 500;
        color: #707070;

        @include media('<=phone'){
            font-size: 26px;
        }

    }

    .modal-body{

        padding: 5%;
        padding-top: 3%;
        font-size: 16px;

        font-family: Lato , 'sans-serif' !important;

        p{
            text-align: start;
            font-size: 16px;
            color: #636363;

            a{
                color: #6BA4A5;
            }
        }

        h3{
            text-align: start;
            font-size: 20px;
            color: #707070;

            @include media('<=phone'){
                font-size: 18px;
            }

        }

        h2{
            color: #707070;
            text-align: center;
            font-size: 22px;

            @include media('<=phone'){
                font-size: 20px;
            }
        }

        h4{
            margin: 0;
            font-size: 18px;

            @include media('<=phone'){
                font-size: 16px;
            }
        }
    

        ul{

            li{
                list-style-type: none;
                color: #636363;
                padding: 8px 10px;
                font-size: 16px;
            }
        }
    }

    #qui-suis-je-modal{
    

        .img-container{

            display: flex;
            justify-content: center;

            img{
                width: 30%;
                max-width: 200px;
            }
        }
       
        
    }
}