.title_text{
    font-family: KGFallForYouBold;
    
}

.text_application{
    font-family: Rubik-Medium;
    font-size: 10px;
}

.text{
    font-family: Rubik-Regular;
    color: #636363;
    font-size: 12px;
}

.box_stores{
     float: left;
     width: 14%;
    padding: 5px;
}
.btn_stores{
   
}

.petite_div{
    clear: both;
    display: table;
    
}

.phone{
    float: left;
    width: 10%;
   padding: 5px;
   margin: 10px;
}

@font-face{
    font-family: KGFallForYouBold;
    src: url('../../../fonts/KGFallForYouBold.ttf');
}

@font-face{
    font-family: Rubik-Regular;
    src: url('../../../fonts/Rubik-Regular.ttf');
}

@font-face{
    font-family: Rubik-Medium;
    src: url('../../../fonts/Rubik-Medium.ttf');
}