.order-chapitre{
    font-family: Rubik-Medium;
    color: #CBCACD;
}

.title-chapitre{
    font-family: Rubik-Medium;
    color: #707070;
}

.progression-bars{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}



.title-chapitre , .order-chapitre{
    margin: 0;
}

.title-chapitre{
    padding: 8% 0;
}

.elements{
    border: 1px solid #CBCACD;
    padding: 8% 5%;
    border-radius: 5px;
    color: #707070;

}

.ins-progress{
    border: 1px solid #CBCACD;
    border-radius: 20px;
    overflow: hidden;
}


@media only screen and (max-width: 600px) {

    .elements{
        position: relative;
    }

    .title-chapitre{
        padding: 3% 0;
    }

    .order-chapitre{
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px 20px;
        background: #707070;
        color: white;
    }
}




/*.chapitre-container{
    border: 1px solid #CBCACD;
    flex: 1;
    margin: 30px 10px 10px 10px;
    background-color: #FFFFFF;
}


.order-chapitre{
    font-family: Rubik-Medium;
    color: #CBCACD;
}

.title-chapitre{

    font-family: Rubik-Medium;
    color: #707070;
}

.progression-bars{

    background-color:#FAFAFA;
    border-radius: 13px;
    width: 80%;
    height: 10px;
    float: left;
    border:  1px solid #CBCACD;
}

.ins-progress{

    background-color: #8fabff;
    width: 0%;
    height: 20px;
    border-radius: 10px;
}

@font-face{
    font-family: Rubik-Medium;
    src: url('../../../fonts/Rubik-Medium.ttf');
}*/