@font-face{
    font-family: KGFallForYouBold;
    src: url('../../../fonts/KGFallForYouBold.ttf');
}


@font-face{
    font-family: Rubik-Bold;
    src: url('../../../fonts/Rubik-Bold.ttf');
}

@font-face{
    font-family: Rubik-Regular;
    src: url('../../../fonts/Rubik-Regular.ttf');
}



.container-profil-images-scroll{
    display: flex;
    overflow-x: scroll;
    margin: auto;
    width: 65%;
}
.cree_ton_compte{
    text-align: center;
    font-family: KGFallForYouBold;
    font-size: 32px;
    margin-top:50px;
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000)  both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.eleve-compte-section{
    padding: 3% 0;
}

.quel_classe {
    text-transform: uppercase;
    color: #707070;
    font-family: Rubik-Bold;
    font-size: 16px;
    text-align: center;
    margin-top: 5%;
}

.niveaux{
    border: 1px solid #CBCACD;
    padding: 10px 10px 10px 10px;
    color: #CBCACD;
    font-family: Rubik-Bold;
    display: inline-block;
    width: 100px;
}

.niveaux.active{
    border: 1px solid #8bb5b6;
    color: #8bb5b6;

}

.niveaux:hover{
    cursor: pointer;
}



.deja_un_compte{

    text-align: center;
    font-family: Rubik-Regular;
    font-size: 12px;
    color: #636363;
    margin: 0;
    margin-top: 2% !important;
}

@media only screen and (max-width: 450px) {
    .deja_un_compte{
        margin: 30px 0 !important;
    }

    .spacers{
        display: none !important;
    }

    .grid1{
        display: flex !important;
        flex-wrap: wrap;
        justify-content: start;
        gap: 10px;
    }

    .grid1 > span{
        width: 40%;
    }

    .grid1 > span > span{
        width: 100%;
    }

    .grid2{
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .main_content{
        min-height: unset;
    }

    .quel_classe{
        margin-top: 40px;
        margin-bottom: 20px;
    }
}


.spacers{
    display: none;
    width: 30px;
}

.grid1{
    text-align: center;
}

.grid1{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.grid2{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}

.grid2 .field {
    width: 70%;
    max-width: 540px;

    
}

@media only screen and (max-width: 600px) {
   
    .grid2 .field {
        width: 100%;


        
    }
  }


.ui.dropdown.search{
    max-width: 540px;
    min-width: 100%;
}
/* #root{
    height: 100%;
} */

.email-login-container{
    margin-top: 15px;
}

.w-100 div{
    width: 100% !important;
  }
  
  .results.transition{
    width: 100% !important;
  }

  .grid2 div{
        width: 100%;
        max-width: 400px;
        margin-top: 2%;
  }

