.chapitres{
    color: #707070;
    font-family: Rubik-Medium;
}

.chapters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.chapter-section{
    padding: 3% 0;
}

.chapter-section .exercises-content{
    padding: 3% 4%;
}

.chapter-section .exercises-title-container {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.chapter-section  .exercises-content{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.chapters a > div{
    margin: 0;
}

.chapter-course-container{
    text-align: center;
    display: none;
}

.chapter-course-container .course{
    color: #53818A;
    font-size: 20px;
}

.chapter-course-container .chapter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.chapter-course-container .chapter .chapter-number{
    background-color: #707070;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}   



@media only screen and (max-width: 900px) {
    .chapters{
        grid-template-columns: 1fr 1fr;
    }

    .exercises-title-container {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .chapters{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 500px){

    .chapter-course-container{
        display: block;
    }

    .exercises-title-container{
        border-radius: 0 !important;
    }
}


@font-face{
    font-family: Rubik-Medium;
    src: url('../../../fonts/Rubik-Medium.ttf');
}

.chapitre-modal img{
    width: 30%;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-right: 50%;
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
            animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s  both;
}

.chapitre-modal  .bubble.bubble-bottom-left{
    top: 30px;
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
}

.chapitre-modal .bubble{
    left: 45% !important;
}

@media only screen and (max-width: 490px) {
    .chapitre-modal img{
        margin: unset;
    }

    .chapitre-modal  .bubble.bubble-bottom-left{
        width: 80%;
        left: 20% !important;
        top: 0;
    }
}