
.matiere_component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.mon-parcours-container{
    text-align: center;
}
.text-mon-parcours-span{
    color: #6BA4A5;
    font-size: 18px;
    font-weight: 800;
}
.cree_ton_compte{
    cursor: pointer;
    padding: 3% 0;
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000)  both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.cree_ton_compte i{
    font-size: 30px;
}

.dashboard-section{
    padding: 2% 0;
}

.dashboard-section .cree_ton_compte{
    margin: 0 !important;
}

#contained-modal-title-vcenter{
    width: 100%;
    font-family: Lato , 'sans-serif';
    font-weight: bold;
}

.dashboard-modal .modal-content {
    padding: 3%;
}

.dashboard-modal .modal-content h4{
    font-size: 25px;
    color: #707070;
}

.niveaux_school{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}

.niveaux_school div{
    width: 50%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .matiere_component{
        grid-template-columns: 1fr;

    }

    .matiere_component a{
        margin: 0 3%;

    }

   
}

@media only screen and (max-width: 490px) {
    .dashboard-modal .modal-content{
        padding: 3% 0;
    }
    .dashboard-modal .modal-content h4{
        font-size: 20px;
    }
}

/*.matiere_component{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.matiere_component > *{
    flex: 0 0 50%;
    max-width: 50%;

}

.niveaux_school{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.niveaux_school > *{
    flex: 0 0 50%;
    max-width: 50%;

}

.cree_ton_compte{
 */