
.container-titles-qr-component{
    margin-bottom: 30px;
    display: grid;
}

.title-scan-qr-components{
    font-size: 16px;
    margin: auto;
}

.container-qr-div{
    margin: 10px 20px 10px 20px;
}

.container-btn-comment-ca-marche{
    margin-top: 5%;
}

.modal-container-bravo-points{
    display: grid;
}

.tu-as-ganer{
    margin : auto
}

.high_fives_container_modal{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 600;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 10%;
}