.App {
  text-align: center;
}

.main_content {
  height: auto;
  /* display: flex;
  flex-direction: column; */
}

.footer_container {
  position: relative;
  bottom: 0;
  /*  width: 100%; */
}

@media only screen and (max-width: 500px) {
  .main_content {
    padding-bottom: 80px;
  }

  .sign-up.main_content {
    overflow-x: hidden;
  }
}
