@import '../../../style/breakpoints';
.Post{
    max-width: 800px;
    width: 100%;
    display: table;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: red;
  }

.exercices-container{

   
    padding-bottom: 20px;
    padding-top: 3%;

    .exercises-title-container{
        background-color: #707070;
        padding: 15px 40px;
        font-family: Rubik , 'sans-serif';
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;

        @include media('<=phone'){
            display: none;
        }

       

        .exercises-title{
            color: white;
            margin: 0;
            font-size: 18px;
            font-weight: 400;
            
        }

        .exercises-infos{
            color: white !important;
            display: flex;
            align-items: center;

            .exercises-number{
                color: #707070;;
                margin-right: 10px;
                background-color: white;
                height: 18px;
                width: 18px;
                text-align: center;
                border-radius: 3px;
            }

            .show-hide-icon{
                i{
                    margin-top: 2.5px;
                    color: white;
                    font-size: 20px;
                }
            }
        }

    }

    .exercises-content{
        padding: 20px 30px;
        overflow: hidden;
        transition : all 0.3s;
        background-color: #FAFAFA;
        transform: unset !important;
        
    }
}

